node_modules
dist
dist-ssr
.DS_Store
*.log
.env
.env.local
.env.*.local
.vite

# tsc -b build artifacts
*.tsbuildinfo
vite.config.d.ts
vite.config.js

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
